# common
server:
  port: 80
spring:
  application:
    name: chuchu
  redis:
    host: localhost
    port: 6379
  profiles:
    active: dev
  mail:
    username:
    #ENC(OiTD9i1DdfQXxo/uc7j5qgRcGQXU49tmVBroZLlrBvs=)
    password:
    #ENC(NvY1hHRM1pST2s2nuLpMiJVubwbVDtntAXhnNIxzbSk=)

jwt:
  secret-key: Thi$i$JwtP@s!!sw0rd0pEn$e$ame!!~
  #ENC(2Fa4YT+N9pwNzO2w1wXRzdVo2f3q1pBd++3xntcOsvC66quAGdOw1D9t7G0Yb7W1)
jasypt:
  encryptor:
    bean: jasyptStringEncryptor
#  jar VM 옵션으로 대체 -Djasypt.encryptor.password=
---
# dev
spring:
  config:
    activate:
      on-profile: dev
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        default_batch_fetch_size: 100
        format_sql: true

---
# prod
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:mysql://49.50.165.114:3306/chuchu?useSSL=false&serverTimezone=Asia/Seoul
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: chuchu
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true